.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo {
    font-family: 'Mansalva', cursive;
    font-size: 40px;
  }

  .options {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 15px;
    }
  }
}