.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  height: 70px;

  > div {
    width: 33%;
  }

  .logo {
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;

    .option {
      margin: 0 15px;
      cursor: pointer;

      &:hover {
        // border-top: 2px solid #fff;
        // border-bottom: 2px solid #ff0000;
        // padding-bottom: 2px;
        // padding-top: 2px;
        text-decoration: underline;
      }
    }
  }
}