body {
    background-color: #f8f8f8;
}

.body-container {
    background-color: #fff;
}

.body {
    padding: 40px 60px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #363636;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .body, #root .footer-container .footer {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 1000px) {
    .collections-overview .collection-preview .preview,
    .shop-page .collection-page .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .collections-overview .collection-preview .preview .collection-item {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .body {
        padding: 20px;
    }

    #root .footer-container .footer {
        padding: 30px 20px;
    }

    .logo h1 {
        font-size: 36px;
    }

    .header .logo h1 {
        text-align: left;
    }
    
    .header .empty {
        display: none;
    }

    .body .header .options {
        width: 67%;
    }
}

@media screen and (max-width: 700px) {
    .collections-overview .collection-preview .preview,
    .shop-page .collection-page .items {
        grid-template-columns: 1fr 1fr;
    }

    .homepage .directory-menu {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .logo h1 {
        font-size: 30px;
        padding-left: 5px;
    }

    .body {
        padding: 10px;
    }

    #root .footer-container .footer {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 450px) {
    .collections-overview .collection-preview .preview,
    .shop-page .collection-page .items {
        grid-template-columns: 1fr;
    }

    .collections-overview .collection-preview .preview .collection-item,
    .shop-page .collection-page .items .collection-item {
        height: 380px;
    }

    .preview .collection-item .custom-button,
    .items .collection-item .custom-button {
        top: 255px;
        width: 90%;
        display: unset;
    }
}

@media screen and (max-width: 350px) {
    .logo h1 {
        font-size: 25px;
    }
}