.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    .title {
        margin: 0.5em 0;
        font-size: 1.5em;
        font-weight: 500;
    }
}